.countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* 📱 Tablet */
@media (max-width: 1200px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 📱 Mobile */
@media (max-width: 800px) {
  .countries {
    grid-template-columns: repeat(1, 1fr);
  }
}